@use "../abstracts/mixins" as styles;

.contextMenu {
    @include styles.border($sunken: false, $subtle: false);
    padding-block: 0;
    background-color: var(--color-ui);
    border: 1px solid var(--color-ui);
    padding: 2px;
    li {
        height: 22px;
        padding-left: 18px;
        align-items: center;
        display: flex;
        &.parent {
            &::after {
                content: "";
                background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAMAAADXT/YiAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAGUExURf///wAAAFXC034AAAACdFJOU/8A5bcwSgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAACZJREFUGFdjYIQBEAvCA7PATAgLJgNkASl0MSABYYEYUJKRkZERAAvFAEId5WqqAAAAAElFTkSuQmCC");
                background-size: 9px;
                background-repeat: no-repeat;
                image-rendering: pixelated;
                width: 9px;
                height: 9px;
                margin: 0;
                margin-right: -12px;
                filter: brightness(0);
            }
            &.focused, &.opened {
                &::after {
                    filter: brightness(1);
                }
            }
        }

        &.hybrid_parent.opened {
            color: var(--color-text);
        }

        & > i,
        & > i[class^="icon-"]:not(.fa),
        & > img.icon {
            margin-left: -12px;
            font-size: 14px;
            line-height: 14px;
            width: 16px;
            height: 16px;
            image-rendering: pixelated;
            &.fa_big {
                font-size: 12px;
            }
        }
        & > span {
            line-height: 1.5;
            font-size: 11px;
        }
    }

    .menu_more_button {
        width: 22px;
        height: 22px;
        padding: 2px;
        & > i {
            font-size: 16px;
            margin-left: -2px;
        }
    }
}

li.menu_separator {
    height: 1px;
    margin-block: 3px;
    box-shadow: 0px 1px #ffffff;
}

