@use "../../abstracts/mixins" as styles;

// General Dialogs
.dialog {
    color: #222222;
    // hardcode border for now
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    padding: 3px;
    max-height: none;

    &:not(.resizable) {
        min-width: min(400px, 100%);
        max-width: min(600px, 100%);
    }

    &_handle {
        color: white;
        background: var(--dialog-blue);
        height: 20px;
        display: flex;
        cursor: default;
        .dialog_title {
            font-size: 11px;
            padding-left: 0;
            line-height: 1.5;
        }
        // Icon: set per dialog
        &::before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-top: 2px;
            margin-right: 4px;
            // Fallback icon
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAElBMVEUAAACAgIDAwMAAAAAAAL////9BqKHzAAAAAXRSTlMAQObYZgAAAAFiS0dEBfhv6ccAAAAHdElNRQfiBhgXBwYy/hz+AAAALklEQVQI12NggAFBKGAQUgIDYQYhFzCAMIKDg4EMiBIgIxQMyGUIwswxhgK4KwAByRbDJCOQ1wAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0wNi0yNFQyMzowNzowNi0wNDowMNp4XPYAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMDYtMjRUMjM6MDc6MDYtMDQ6MDCrJeRKAAAAAElFTkSuQmCC");
            background-repeat: no-repeat;
            background-size: 16px 16px;
        }
    }

    &_sidebar {
        flex-direction: column-reverse;
        grid-area: top;
        min-height: 28px;
        overflow: visible;
        padding: 0 12px;
        background-color: var(--color-ui);
        .dialog_sidebar_pages,
        .dialog_sidebar_actions {
            display: flex;
            align-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            margin-top: 0;
            margin-bottom: 0;
            border: none;
            li {
                width: auto;
                text-align: center;
                flex-grow: 0;
                border-left: none;

                display: flex;
                align-items: center;

                &.selected {
                    border-left: none;
                }
            }
        }

        .dialog_sidebar_actions {
            justify-content: flex-end;
            gap: 4px;
            li {
                @include styles.clickable($sunken: false, $subtle: true);
                flex-grow: 0;
                padding: 0 8px;
                gap: 8px;
                height: 23px;
                // padding-inline-start: 32px
                & > i {
                    margin: 0;
                }
            }
        }

        .dialog_sidebar_pages {
            position: relative;
            margin: 0;
            li {
                position: relative;
                line-height: 18px;
                padding: 0 8px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                &:not(.selected) {
                    box-shadow: inset -1px 0 var(--ButtonDkShadow), inset -2px 0 grey, inset 2px 2px var(--ButtonHilight);
                }
                &.selected {
                    z-index: 8;
                    margin-top: -3px;
                    vertical-align: top;
                    &::before {
                        box-shadow: inset -1px 0 var(--ButtonDkShadow), inset -2px 0 grey, inset 2px 2px var(--ButtonHilight);
                        content: '';
                        position: absolute;
                        inset: 0;
                        background: var(--color-ui);
                        z-index: -1;
                        border-radius: inherit;
                        margin-bottom: -3px;
                    }
                }
                &.error::after {
                    margin-top: 0;
                    border-radius: inherit;
                    inset: 0;
                    width: auto;
                    height: auto;
                    background: none;
                    border: 1px dashed var(--color-close);
                    z-index: 1;
                }
            }
        }
    }
    .dialog_bar.button_bar {
        margin: 0;
        padding: 5px 8px;
        min-height: 0;
    }
    &_close_button {
        @include styles.clickable($sunken: false, $subtle: false);
        display: block;
        max-height: 14px;
        max-width: 16px;
        top: 6px;
        right: 6px;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
        background-position: top 3px left 4px;
        background-repeat: no-repeat;
        cursor: default;
        &:hover {
            background-color: var(--color-ui);
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
            background-position: top 3px left 4px;
            background-repeat: no-repeat;
        }
        i {
            display: none;
        }
    }

    &_menu_button, .dialog_sidebar_menu_button {
        @include styles.clickable($sunken: false, $subtle: false);
        display: block;
        max-height: 14px;
        max-width: 16px;
        margin-top: 2.5px;
        margin-right: 6px;

        padding: 0;

        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 0H0v16h1V1h14V0z' fill='%23DFDFDF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 1H1v14h1V2h12V1H2z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 17H0v-1h15V0h1v17z' fill='%23000'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15 1h-1v14H1v1h14V1z' fill='gray'/%3E%3Cpath fill='silver' d='M2 2h12v13H2z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 6H4v1h1v1h1v1h1v1h1V9h1V8h1V7h1V6z' fill='%23000'/%3E%3C/svg%3E");
        background-position: top 3px;
        background-repeat: no-repeat;
        &:hover {
            background-color: var(--color-ui);
        }
        i {
            display: none;
        }
    }

    .dialog_sidebar_menu_button {
        background-image: none;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            display: block;
            color: var(--color-text);
            min-width: 0;
            width: 16px;
            height: 16px;
            font-size: 12px;
            image-rendering: pixelated;
        }
    }

    &:has(.dialog_menu_button) {
        .dialog_handle {
            &::before {
                content: none;
            }
        }
    }
}

.dialog_bar {
    &.button_bar > button {
        background: var(--color-ui);
        // This is required to overwrite Blockbench's styles
        color: var(--color-text) !important;
    }
    & > button.confirm_btn:not(:hover) {
        background: var(--color-ui);
    }
    &.form_bar {
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        min-height: 24px;
    }
}

dialog {
    div.dialog_form_buttons a {
        color: var(--color-accent);
    }
}

label.name_space_left {
    line-height: 1;
    padding-top: 0;
    &:empty {
        background: red;
    }
}

#blackout {
    // Cover all, no exceptions
    &.darken {
        background-color: #a5a5a5;
        mix-blend-mode: multiply;
        opacity: 1;
        $posterize: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><filter id="posterize"><feComponentTransfer><feFuncR type="discrete" tableValues="0 .25 .5 .75 1" /><feFuncG type="discrete" tableValues="0 .25 .5 .75 1" /><feFuncB type="discrete" tableValues="0 .25 .5 .75 1" /></feComponentTransfer></filter></svg>#posterize');
        backdrop-filter: blur(1px) $posterize saturate(0);
    }
}

body.is_mobile {
    .dialog_sidebar {
        display: block !important;
    }
}

.dialog_wrapper.has_sidebar {
    grid-template-rows: auto auto 36px;
    grid-template-columns: auto;
    grid-template-areas: "top" "content" "buttons";
    .dialog_content {
        margin: 0 8px 0 8px;
        padding: 16px;
        background: transparent;
        box-shadow: inset -2px -2px var(--ButtonDkShadow), inset -4px -4px var(--ButtonShadow), inset 3px 3px var(--ButtonHilight);
    }
}

.dialog_form_description {
    @include styles.clickable($sunken: false, $subtle: true);
    padding-top: 5px;
    font-size: 11px;
    height: 24px;
    width: 24px;
}

.dialog_message_box_command {
    @include styles.clickable($sunken: false, $subtle: false);
    padding-inline: 8px 0;
    padding-block: 4px;
    font-size: 11px;
    margin-top: 2px;
    &:hover {
        background-color: var(--color-ui);
        color: var(--color-text);
    }
}

.form_inline_select {
    gap: 1px;
    & > li {
        @include styles.clickable($sunken: false, $subtle: false);
        height: 24px;
        background-color: var(--color-ui);
        color: var(--color-text);
        &.selected {
            @include styles.clickable($sunken: true, $subtle: false);
            background-color: var(--color-ui);
            color: var(--color-text);
        }
    }
}
